@import "fonts.scss";
@import "common/mainnav.scss";
@import "common/portada.scss";
@import "common/banner.scss";
@import "home/servicios.scss";
@import "home/carrusel.scss";

// custom
.testbg {
    box-sizing: border-box;
    background-color: salmon;
    width: 100%;
    height: 35vh;
}
.text-yellow {
    color: yellow;
}
