@font-face {
    font-family: "FuturaStdLight";
    src: url("../fonts/FuturaStdLight.otf") format("truetype");
}
@font-face {
    font-family: "FuturaStdBook";
    src: url("../fonts/FuturaStdBook.otf") format("truetype");
}
@font-face {
    font-family: "FuturaStdMedium";
    src: url("../fonts/FuturaStdMedium.otf") format("truetype");
}
