@font-face {
  font-family: "FuturaStdLight";
  src: url("../fonts/FuturaStdLight.otf") format("truetype");
}
@font-face {
  font-family: "FuturaStdBook";
  src: url("../fonts/FuturaStdBook.otf") format("truetype");
}
@font-face {
  font-family: "FuturaStdMedium";
  src: url("../fonts/FuturaStdMedium.otf") format("truetype");
}
.trapezoid-nav {
  position: relative;
  background-color: #eb7932;
}
@media (min-width: 1024px) {
  .trapezoid-nav {
    background-color: transparent;
  }
}
.trapezoid-nav::after {
  position: absolute;
  content: "";
  background-color: #eb7932;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
  z-index: 0;
}

@media (min-width: 1024px) {
  .rectangle-nav::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background: #eb7932;
    height: 20px;
    width: 100%;
    z-index: 0;
    /* background-color: #eb7932; */
    /* clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%); */
  }
}

.portada {
  height: 95vh;
  position: relative;
  z-index: 0;
}
@media (min-width: 768px) {
  .portada {
    height: 65vh;
    position: relative;
    z-index: 0;
  }
}
.portada::before {
  content: "";
  background-color: #eb7932;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 0;
}
.portada .hero-right .contenedor-cubo {
  width: 380px;
  height: 380px;
  perspective: 1000px;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo {
    width: 300px;
    height: 300px;
  }
}
.portada .hero-right .contenedor-cubo .cara {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  position: relative;
  transition: 2s;
  animation: rotar 15s infinite linear;
  z-index: -1000;
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo .cara {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 768px) {
  .portada .hero-right .contenedor-cubo .cara {
    width: 140px;
    height: 140px;
  }
}
.portada .hero-right .contenedor-cubo .cara .item {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.portada .hero-right .contenedor-cubo .cara .item-1 {
  background-image: url("/img/assets/servicios_tres.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(0deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo .cara .item-1 {
    transform: rotateY(0deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .portada .hero-right .contenedor-cubo .cara .item-1 {
    transform: rotateY(0deg) translateZ(70px);
  }
}
.portada .hero-right .contenedor-cubo .cara .item-1::after {
  content: "";
  background-color: #212529;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.portada .hero-right .contenedor-cubo .cara .item-2 {
  background-color: white;
  transform: rotateX(90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo .cara .item-2 {
    transform: rotateX(90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .portada .hero-right .contenedor-cubo .cara .item-2 {
    transform: rotateX(90deg) translateZ(70px);
  }
}
.portada .hero-right .contenedor-cubo .cara .item-3 {
  background-image: url("/img/assets/banner3.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(-180deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo .cara .item-3 {
    transform: rotateY(-180deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .portada .hero-right .contenedor-cubo .cara .item-3 {
    transform: rotateY(-180deg) translateZ(70px);
  }
}
.portada .hero-right .contenedor-cubo .cara .item-3::after {
  content: "";
  background-color: #212529;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.portada .hero-right .contenedor-cubo .cara .item-4 {
  background-image: url("/img/assets/banner4.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(-90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo .cara .item-4 {
    transform: rotateY(-90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .portada .hero-right .contenedor-cubo .cara .item-4 {
    transform: rotateY(-90deg) translateZ(70px);
  }
}
.portada .hero-right .contenedor-cubo .cara .item-4::after {
  content: "";
  background-color: #212529;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.portada .hero-right .contenedor-cubo .cara .item-5 {
  background-image: url("/img/assets/banner2.jpg");
  background-size: cover;
  background-position: center;
  transform: rotateY(90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo .cara .item-5 {
    transform: rotateY(90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .portada .hero-right .contenedor-cubo .cara .item-5 {
    transform: rotateY(90deg) translateZ(70px);
  }
}
.portada .hero-right .contenedor-cubo .cara .item-5::after {
  content: "";
  background-color: #212529;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}
.portada .hero-right .contenedor-cubo .cara .item-6 {
  background-color: #eb7932;
  transform: rotateX(-90deg) translateZ(100px);
}
@media (max-width: 1024px) {
  .portada .hero-right .contenedor-cubo .cara .item-6 {
    transform: rotateX(-90deg) translateZ(80px);
  }
}
@media (max-width: 768px) {
  .portada .hero-right .contenedor-cubo .cara .item-6 {
    transform: rotateX(-90deg) translateZ(70px);
  }
}
@keyframes rotar {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.banner {
  height: 40vh;
  position: relative;
  z-index: 0;
}
@media (min-width: 768px) {
  .banner {
    height: 35vh;
  }
}
.banner::before {
  content: "";
  background-color: #212529;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: 0;
}
.banner .trapezoid {
  background-color: #eb7932;
  clip-path: polygon(6% 0%, 94% 0%, 100% 100%, 0% 100%);
}

.servicios {
  position: relative;
  z-index: 0;
  background-image: url("/img/home/banner1.jpg");
  background-attachment: fixed;
}
.servicios::before {
  content: "";
  background-color: #212529;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 0;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.carrusel-items .carrusel-item {
  background-color: blanchedalmond;
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  margin: 1rem;
  transition: 1s all;
  border-radius: 1rem;
  overflow: hidden;
}
.carrusel-items .carrusel-item:hover {
  transform: scale(1.2);
}
.carrusel-items .carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrousel {
  width: 100%;
  background-color: cadetblue;
  position: relative;
}
.carrousel__content {
  width: 50%;
  position: absolute;
}
.carrousel__content figure {
  background-color: chocolate;
  width: 100%;
  height: 100%;
  position: absolute;
}
.carrousel__content img {
  width: 100%;
}

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: salmon;
}
.slider__track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2400px;
}
.slider__track--slide {
  width: 300px;
  margin: 1rem;
}
.slider__track--slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: traslateX(0);
  }
  100% {
    transform: traslateX(-1200px);
  }
}
.testbg {
  box-sizing: border-box;
  background-color: salmon;
  width: 100%;
  height: 35vh;
}

.text-yellow {
  color: yellow;
}
