.btn {
    @apply font-bold py-2 px-4 text-center transition duration-300 ease-in-out rounded;
}
.btn-primary {
    @apply bg-blue-500 text-white;
}
.btn-primary:hover {
    @apply bg-blue-700;
}
.btn-danger {
    @apply bg-red-500 text-white;
}
.btn-danger:hover {
    @apply bg-red-700;
}
.btn-block {
    @apply block w-full;
}
/* bg-blue-500 rounded-lg font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 */
