.carrusel{
    // background-color: cadetblue;
    &-items{
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        .carrusel-item{
            background-color: blanchedalmond;
            min-width: 300px;
            max-width: 300px;
            height: 200px;
            margin: 1rem;
            transition: 1s all;
            border-radius: 1rem;
            overflow: hidden;
            &:hover{
                transform: scale(1.2);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.carrousel{
    width: 100%;
    background-color: cadetblue;
    position: relative;
    &__content{
        width: 50%;
        position: absolute;
        figure{
            background-color: chocolate;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        img{
            width: 100%;
        }
    }
}
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color: salmon;
    &__track{
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(300px *8);
        &--slide{
            width: 300px;
            margin: 1rem;
            img{
                width: 100%;
            }
        }
    }

}
@keyframes scroll{
    0%{
        -webkit-transform:traslateX(0);
        transform:traslateX(0);
    }
    100%{
        -webkit-transform:traslateX(calc(-300px * 4));
        transform:traslateX(calc(-300px * 4))
    }
}