.servicios {
    position: relative;
    z-index: 0;
    // background-color: rebeccapurple;
    background-image: url("/img/home/banner1.jpg");
    background-attachment: fixed;
    &::before {
        content: "";
        background-color: #212529;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.6;
        z-index: 0;
    }
    // background-image: url("img/assets/home/banner.jpg");
}
