.banner {
    height: 40vh;
    @media (min-width: 768px) {
        height: 35vh;
    }
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        background-color: #212529;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.7;
        z-index: 0;
    }
    .trapezoid {
        background-color: #eb7932;
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(6% 0%, 94% 0%, 100% 100%, 0% 100%);
        // @media (min-width: 1024px) {
        //     background-color: #eb7932;
        // }
    }
}
