.trapezoid-nav {
    position: relative;
    background-color: #eb7932;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    @media (min-width: 1024px) {
        background-color: transparent;
        // clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
    }
    &::after {
        position: absolute;
        content: "";
        background-color: #eb7932;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
        z-index: 0;
    }
}

.rectangle-nav::before {
    @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        background: #eb7932;
        height: 20px;
        width: 100%;
        z-index: 0;
        /* background-color: #eb7932; */
        /* clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%); */
    }
}
