.portada {
    height: 95vh;
    @media (min-width: 768px) {
        height: 65vh;
        position: relative;
        z-index: 0;
    }
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        background-color: #eb7932;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.6;
        z-index: 0;
    }
    .hero-right {
        .contenedor-cubo {
            // background: chocolate;
            width: 380px;
            height: 380px;
            perspective: 1000px;
            transform-origin: 50% 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 1024px) {
                width: 300px;
                height: 300px;
                // background-color: cornflowerblue;
            }
            .cara {
                height: 200px;
                width: 200px;
                display: flex;
                align-items: center;
                transform-style: preserve-3d;
                position: relative;
                transition: 2s;
                animation: rotar 15s infinite linear;
                z-index: -1000;
                @media (max-width: 1024px) {
                    width: 160px;
                    height: 160px;
                }
                @media (max-width: 768px) {
                    width: 140px;
                    height: 140px;
                }
                .item {
                    position: absolute;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                }
                .item-1 {
                    // background-color: salmon;
                    background-image: url("/img/assets/servicios_tres.jpg");
                    background-size: cover;
                    background-position: center;
                    transform: rotateY(0deg) translateZ(100px);
                    @media (max-width: 1024px) {
                        transform: rotateY(0deg) translateZ(80px);
                    }
                    @media (max-width: 768px) {
                        transform: rotateY(0deg) translateZ(70px);
                    }
                    &::after {
                        content: "";
                        background-color: #212529;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        opacity: 0.6;
                    }
                }
                .item-2 {
                    background-color: white;
                    transform: rotateX(90deg) translateZ(100px);
                    @media (max-width: 1024px) {
                        transform: rotateX(90deg) translateZ(80px);
                    }
                    @media (max-width: 768px) {
                        transform: rotateX(90deg) translateZ(70px);
                    }
                }
                .item-3 {
                    // background-color:slateblue;
                    background-image: url("/img/assets/banner3.jpg");
                    background-size: cover;
                    background-position: center;
                    transform: rotateY(-180deg) translateZ(100px);
                    @media (max-width: 1024px) {
                        transform: rotateY(-180deg) translateZ(80px);
                    }
                    @media (max-width: 768px) {
                        transform: rotateY(-180deg) translateZ(70px);
                    }
                    &::after {
                        content: "";
                        background-color: #212529;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        opacity: 0.6;
                    }
                }
                .item-4 {
                    // background-color: slategray;
                    background-image: url("/img/assets/banner4.jpg");
                    background-size: cover;
                    background-position: center;
                    transform: rotateY(-90deg) translateZ(100px);
                    @media (max-width: 1024px) {
                        transform: rotateY(-90deg) translateZ(80px);
                    }
                    @media (max-width: 768px) {
                        transform: rotateY(-90deg) translateZ(70px);
                    }
                    &::after {
                        content: "";
                        background-color: #212529;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        opacity: 0.6;
                    }
                }
                .item-5 {
                    // background-color:steelblue;
                    background-image: url("/img/assets/banner2.jpg");
                    background-size: cover;
                    background-position: center;
                    transform: rotateY(90deg) translateZ(100px);
                    @media (max-width: 1024px) {
                        transform: rotateY(90deg) translateZ(80px);
                    }
                    @media (max-width: 768px) {
                        transform: rotateY(90deg) translateZ(70px);
                    }
                    &::after {
                        content: "";
                        background-color: #212529;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        opacity: 0.6;
                    }
                }
                .item-6 {
                    background-color: #eb7932;
                    transform: rotateX(-90deg) translateZ(100px);
                    @media (max-width: 1024px) {
                        transform: rotateX(-90deg) translateZ(80px);
                    }
                    @media (max-width: 768px) {
                        transform: rotateX(-90deg) translateZ(70px);
                    }
                }
            }
        }
        @keyframes rotar {
            from {
                transform: rotateX(0deg) rotateY(0deg);
            }
            to {
                transform: rotateX(360deg) rotateY(360deg);
            }
        }
    }
}
